.main {
    width: 700px;
    background-color: bisque;
    border-radius: 20px;
    font-family: 'Recursive', sans-serif;
}

.top {
    height: 60px;
    background-color: cadetblue;
    color: white;
    padding: 10px;
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: space-between;
}

.header {
    margin: 10px 10px 0 0;
    font-size: 25px;
}

.flex {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.day, .description {
    font-size: 24px;
    font-weight: 600;
}

.temp {
    font-size: 18px;
}

.sunset, .sunrise {
    font-size: 16px;
}